.company-name {
     text-align: center;
}

.company-name a {
     color: #216be3;
}

.company-name a:hover {
     text-shadow: 1px 1px 1px #000000;
}

.company-layout {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
}

.section-container {
     border: 1px solid #000000;
     width: 45%;
}

@media only screen and (max-width: 768px) {
     .section-container {
          width: 90%;
     }    
}

.profiles {
     padding: 10px;
}

.profiles a {
     color: #216be3;
}

.progress-bar {
     margin-left: 20px;
}

.updated {
     text-align: right;
     margin-right: 50px;
}