#header {
     background-color: #58d3dc;
     height: 50px;
     position: fixed;
     top: 0px;
     left: 0px;
     right: 0px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid #000000;
}

/* Here starts the Page Title */

.brand-title {
     padding-left: 10px;
}
.site-name {
     font-size: 25px;
}

.site-name a {
     background-color: #ffffff;
     color: #000000;
     padding: 5px 15px;
     border-radius: 20px;
}

/* Here Starts the Right Nav Bar */

.menu {
     background-color: #58d3dc;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: fixed;
     font-size: 120%;
     top: 50px;
     right: -100%;
     width: 220px;
     height: 350px;
     padding: 0px;
     margin: 0px;
     border: 1px solid #000000;
     transition: 3s ease-in-out;
}

.nav-item {
     background-color: #ffffff;
     margin: 3px 0px;
     border-radius: 20px;
     width: 125px;
     list-style-type: none;
     padding: 8px 16px;
}

.nav-item:hover {
     background-color: #e5f3f4;
     cursor: pointer;
}

nav a {
     color: #000000;
     text-decoration: none;
}

nav a:hover {
     cursor: pointer;
}

/* Here Starts the Nav Hamburger */

.hamburger {
     background-color: #ffffff;
     width: 100px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 5px 10px;
     border-radius: 25px;
     margin-right: 10px;
}

.hamburger:hover {
     cursor: pointer;
}

.hamburger.active .chevron:nth-child(2) {
     opacity: 0;
}

.hamburger.active .chevron:nth-child(1) {
     transform: translateY(9px) rotate(45deg);
}

.hamburger.active .chevron:nth-child(3) {
     transform: translateY(-9px) rotate(-45deg);
}

.chevron {
     background-color: #000000;
     height: 5px;
     width: 25px;
     margin: 2px;
}

.menu.active {
     right: 0px;
     transition-duration: .5s;
}