main {
     font-family: 'Trebuchet MS', Arial, sans-serif;
     margin-top: 65px;
     margin-bottom: 50px;
}

a {
     text-decoration: none;
}

/* Here Starts the Front Page */

.front-page {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

.news-updates {
     width: 45%;
     margin: 20px;
     padding: 0 10px;
}

.videos {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
     .news-updates {
          width: 90%;
     }    
}

.container {
     padding: 20px;
}

.section-title {
     font-size: 20px;
     text-align: center;
}

.section-title a {
     color: #216be3;
     font-size: 20px;
     text-align: center;
}

.section-title a:hover {
     text-shadow: 1px 1px 1px #000000;
     transition: .5s;
}

.large-text {
     font-size: 20px;
}

/* Here Starts the Innovation Page */

.list-border {
     border: 1px solid #000000;
}

.list-header {
     text-align: center;
}

.list-container {
     text-align: center;
}

.list-align {
     display: inline-block;
     text-align: left;
}

.tech-list {
     font-size: 20px;
}

/* Here Starts the Companies Page */

.tech-list a {
     color: #216be3;
}

.tech-list a:hover {
     text-shadow: 1px 1px 1px #000000;
     transition: .5s;
}

.top-link a {
     color: #216be3;
}

/* Here Starts the Science Page */

.science-layout {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
}

.science-topic {
     width: 45%;
}

@media only screen and (max-width: 768px) {
     .science-topic {
          width: 90%;
     }    
}

.science-list {
     padding-left: 30px;
}

.science-list a {
     color: #216be3;
}

/* Here Starts the Science Sub Page */

.science-headers {
     text-align: center;
     padding: 25px 0px;
}

.science-container {
     padding: 15px;
}

.science-topics a {
     color: #216be3;
}

/* Investing Page Style Starts Here */

.investor-link {
     font-size: 15px;
}

.investor-link a {
     color: #216be3;
}

.investor-link a:hover {
     text-shadow: 1px 1px 1px #000000;
}

/* Portfolio Page Starts Here */

.portfolio {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}

table caption {
     background-color: #d5a9e1;
     border: solid 1px #000000;
     font-weight: 800;
}

table tr:hover {
     background-color: #d5a9e1;
     font-weight: 700;
}

.theme {
     border: solid 1px #000000;
     margin: 10px 25px;
     width: 45%;
}

.totals {
     background-color: #d5a9e1;
}

@media screen and (max-width: 768px) {
     .theme {
          width: 95%;
     }
}

.updated {
     text-align: right;
     margin-right: 50px;
}

/* Investing Guides Pages Start Here */

.investing-headers {
     text-align: center;
}

.investing-container {
     padding: 15px;
}