main {
     font-family: 'Trebuchet MS', Arial, sans-serif;
     margin-top: 65px;
     margin-bottom: 50px;
}

/* Here Starts the Index Page */

.container {
     padding: 20px;
}

.section-title {
     font-size: 20px;
     text-align: center;
}

.section-title a {
     color: #216be3;
     font-size: 20px;
     text-align: center;
}

.section-title a:hover {
     text-shadow: 1px 1px 1px #000000;
     transition: .5s;
}

.large-text {
     font-size: 20px;
}

/* Here Starts the Innovation Page */

.list-border {
     border: 1px solid #000000;
}

.list-header {
     text-align: center;
}

.list-container {
     text-align: center;
}

.list-align {
     display: inline-block;
     text-align: left;
}

.tech-list {
     font-size: 25px;
}

/* Here Starts the Companies Page */

.tech-list a {
     color: #216be3;
}

.tech-list a:hover {
     text-shadow: 1px 1px 1px #000000;
     transition: .5s;
}

.top-link a {
     color: #216be3;
}